<table mat-table [dataSource]="source" class="mat-elevation-z8 demo-table">
    <!-- Nom_dest Column -->
    <ng-container matColumnDef="nom_destination">
      <th  mat-header-cell *matHeaderCellDef>Destination</th>
      <td mat-cell *matCellDef="let element">{{element.nom_destination }}</td>
    </ng-container>
    <!-- description Column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>description</th>
        <td mat-cell *matCellDef="let element">{{element.description }}</td>
    </ng-container>
    <!-- image Column -->
    <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let element" class="container_img_destination">
            <img  [src]="element.image" alt="" class="img_destination"/>
        </td>
    </ng-container>
    <!-- compagnie vol -->
    <ng-container matColumnDef="compagnie_vol">
        <th mat-header-cell *matHeaderCellDef>compagnie aérienne</th>
        <td mat-cell *matCellDef="let element">{{element.vols.compagnie_vol }}</td>
    </ng-container>
    <!-- numéro de vol -->
    <ng-container matColumnDef="num_vol">
        <th mat-header-cell *matHeaderCellDef>numéro de vol</th>
        <td mat-cell *matCellDef="let element">{{element.vols.num_vol }}</td>
    </ng-container>
    <!-- aerport_depart -->
    <ng-container matColumnDef="aeroport_depart">
        <th mat-header-cell *matHeaderCellDef>Aeroport de Départ</th>
        <td mat-cell *matCellDef="let element">{{element.vols.aeroport_depart }}</td>
    </ng-container>
    <!-- heure_depart -->
    <ng-container matColumnDef="heure_depart">
        <th mat-header-cell *matHeaderCellDef>Heure De Départ</th>
        <td mat-cell *matCellDef="let element">{{element.vols.heure_depart }}</td>
    </ng-container>
    <!-- aerport_arrivee -->
    <ng-container matColumnDef="aeroport_arrivee">
        <th mat-header-cell *matHeaderCellDef>Aeroport d'Arrivee</th>
        <td mat-cell *matCellDef="let element">{{element.vols.aeroport_arrivee }}</td>
    </ng-container>
    <!-- h d'arrivee -->
    <ng-container matColumnDef="heure_arrivee">
        <th mat-header-cell *matHeaderCellDef>Heure D'arrivée</th>
        <td mat-cell *matCellDef="let element">{{element.vols.heure_arrivee }}</td>
    </ng-container>
    
    <!-- editer -->
    <ng-container matColumnDef="editer">
        <th mat-header-cell *matHeaderCellDef>Modifier</th>
        <td mat-cell *matCellDef="let element">
            <button (click)="goDetails(element._id)" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
    </ng-container>
    <!-- supprimer -->
    <ng-container matColumnDef="supprime">
        <th mat-header-cell *matHeaderCellDef>Supprime</th>
        <td mat-cell *matCellDef="let element">
            <button (click)="deleteFromHtml(element._id)" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
    </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button class="float" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>edit</mat-icon>
  </button>