<div class="global">
    <ng-container *ngIf="eleveForm">  
        <form class="example-form" [formGroup]="eleveForm">
            <!-- Nom -->
            <mat-form-field class="example-full-width">
                <mat-label for="nom">Nom</mat-label>
                <input matInput placeholder="Ex. Legrand" id="nom" formControlName="nom" type="text">
            </mat-form-field>
            <!-- prénom -->
            <mat-form-field class="example-full-width">
                <mat-label for="prenom">Prénom</mat-label>
                <input matInput id="prenom" placeholder="Ex. Luc" formControlName="prenom">
            </mat-form-field>
            <!-- Âge -->
            <mat-form-field class="example-full-width">
                <mat-label for="age">Âge</mat-label>
                <input matInput placeholder="Ex. 15" id="age"formControlName="age" type="number" min="10" max="18">
            </mat-form-field>
            <!-- Classes -->
            <mat-form-field>
                <mat-label>Classes</mat-label>
                <mat-select formControlName="classe">
                    <mat-option *ngFor="let classe of classes" [value]="classe.value"  >
                        {{classe.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- Spécialité -->
            <mat-form-field>
                <mat-label>Spécialités</mat-label>
                <mat-select formControlName="specialite">
                    <mat-option *ngFor="let specialite of specialites" [value]="specialite.value">
                    {{specialite.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- redoublé  -->
            <br>
            <mat-label for="redouble">Redoublé</mat-label>
            <mat-checkbox formControlName="redouble" id="redouble" class="example-margin"  checked="eleveForm.get('redouble').value"></mat-checkbox>
    
            <section>
                <div class="example-label"></div>
                <div class="example-button-row">
                    <button mat-flat-button color="primary"  (click)="created()" [disabled]="eleveForm.invalid">Envoyé</button>
                </div>
            </section>
        </form>
    </ng-container>
</div>
