<div class="global">
    <ng-container *ngIf="destinationForm">
        <!-- <form  method="post" enctype="multipart/form-data"> -->
        <!-- <input type="file" name="avatar" (change)="onFileChange($event)" /> -->
        <!-- </form>   -->
        <form class="example-form" [formGroup]="destinationForm">
            <!-- Nom_destination -->
            <mat-form-field class="example-full-width">
                <mat-label for="nom">nom_destination</mat-label>
                <input matInput placeholder="ex: marseille" id="nom_destination" formControlName="nom_destination"
                    type="text">
            </mat-form-field>
            <!-- description -->
            <mat-form-field class="example-full-width">
                <mat-label for="description">description</mat-label>
                <input matInput id="description" formControlName="description">
            </mat-form-field>
            <!-- image -->
            <!-- <mat-form-field class="example-full-width">  -->
            <mat-label for="image">image</mat-label>
            <input type="file" formControlName="image" (change)="onFileChange($event)">
            <!-- prix -->
            <mat-form-field class="example-full-width">
                <mat-label for="prix">Prix</mat-label>
                <input matInput id="prix" formControlName="prix">
            </mat-form-field>
            <!-- date depart -->
                    <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker formControlName="date_depart">
                <!-- date retour -->
                    <input type="text" placeholder="Daterangepicker" class="form-control" bsDatepicker formControlName="date_retour">
            <!-- compagnie aérienne -->
            <mat-form-field class="example-full-width">
                <mat-label for="compagnie_vol">Compagnie Aérienne</mat-label>
                <input matInput id="compagnie_vol" formControlName="compagnie_vol">
            </mat-form-field>
            <!-- numero de vol -->
            <mat-form-field class="example-full-width">
                <mat-label for="num_vol">Numéro de vol</mat-label>
                <input matInput id="num_vol" formControlName="num_vol">
            </mat-form-field>
            <!-- aeroport de depart -->
            <mat-form-field class="example-full-width">
                <mat-label for="aeroport_depart">Aeroport de depart</mat-label>
                <input matInput id="aeroport_depart" formControlName="aeroport_depart">
            </mat-form-field>
            <!-- heure de depart -->
            <mat-form-field class="example-full-width">
                <mat-label for="heure_depart">Heure de depart</mat-label>
                <input matInput id="heure_depart" formControlName="heure_depart">
            </mat-form-field>
            <!-- aeroport d'arrivee -->
            <mat-form-field class="example-full-width">
                <mat-label for="aeroport_arrivee">Aeroport D'arrivee</mat-label>
                <input matInput id="aeroport_depart" formControlName="aeroport_arrivee">
            </mat-form-field>
            <!-- heure d'arrivee  -->
            <mat-form-field class="example-full-width">
                <mat-label for="heure_arrivee">Heure d'Arrivée</mat-label>
                <input matInput id="heure_arrivee" formControlName="heure_arrivee">
            </mat-form-field>
            <!-- durée de vol -->
            <mat-form-field class="example-full-width">
                <mat-label for="duree_vol">Durée de vol</mat-label>
                <input matInput id="duree_vol" formControlName="duree_vol">
            </mat-form-field>
            <!-- info complémentaires -->
            <mat-form-field class="example-full-width">
                <mat-label for="info_comp">Info complémentaires</mat-label>
                <input matInput id="info_comp" formControlName="info_comp">
            </mat-form-field>
            <section>
                <div class="example-label"></div>
                <div class="example-button-row">
                    <button mat-flat-button color="primary" (click)="created()"
                        [disabled]="destinationForm.invalid">Envoyé</button>
                </div>
            </section>
        </form>
    </ng-container>
</div>